html{
    height: 150px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
   
}

.urls{
    text-align: center;
    display: block;
    margin:5px auto 0;
    padding: 10px;
    background-color: palevioletred;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    
}

.urls:hover{
    box-shadow: grey 1px 1px 2px;
}



p{
    font-size: 10px;
}

.error{
    padding: 10px;
    background-color: tomato;
    color: white;
    width:100px;
    font-weight: 600;
}

.error-url{
    color: rgb(53, 173, 248);
    text-decoration: underline;
}

.error-url:hover{
    color: rgb(53, 173, 248);
    text-decoration: underline;
    font-weight: 700;
}